button {
    background-color: silver;
    color: royalblue;
    margin: 20px 20px 0 20px;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
    border: 3px solid black;
    font-weight: bold;
}

#buttons-container {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: antiquewhite;
}

h2 {
    font-weight: bold;
    font-family: 'Charmonman', cursive;
}

#input-form {
    float: right;
    margin-right: 10%;
    margin-bottom: 45px;
}

#submit {
    background-color: royalblue;
    color: silver;
    margin: 0 20px 0 20px;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
    border: 3px solid black;
    font-weight: bold;
}

#gif-container {
    clear: both;
    width: 90%;

   
}

.single-gif {
    float: left;
    margin: 6px 6px 6px 6px;
}


.gif-border {
    border-right: 2px solid black;
}
